.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/*cols custom styles for 50-50 cols cp*/
.fifty-50-cp-section .columns-1-cols h2{
    font-family: "Arial Black", "Arial Bold", Arial, sans-serif
    font-size: 28px;
}

.fifty-50-cp-section .columns-wrapper{
    padding: 0% 16% 0 16%;
    padding-top: 1rem;
}

/* make the row a flex line */
.section.fifty-50-cp-section .columns.block.columns-2-cols > div{
  display:flex;
  gap:24px;
  align-items:stretch;
}

/* COL 1 (text) = 75% */
.section.fifty-50-cp-section .columns.block.columns-2-cols > div > div:nth-child(1){
  flex:0 0 75% !important;
  max-width:75% !important;
}

/* COL 2 (image) = 25% */
.section.fifty-50-cp-section .columns.block.columns-2-cols > div > div:nth-child(2){
  flex:0 0 25% !important;
  max-width:25% !important;
}

/* make the image behave in the narrow column */
.section.fifty-50-cp-section .columns.block.columns-2-cols > div > div:nth-child(2) picture,
.section.fifty-50-cp-section .columns.block.columns-2-cols > div > div:nth-child(2) img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover; /* or 'contain' if you don't want cropping */
}
