.navigation-bar-wrapper{
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.navigation-bar .brand-cp{
    height: auto;
    padding-left: 35px;
    width: 235px;
}

.navigation-bar .right{
    font-family: "Arial Black", "Arial Bold", Arial, sans-serif;
}

.navigation-bar .row.top a:hover {
  color: #d4001a; /* brand red */
}

.navigation-bar .row.main{
    padding-top: 10px;
}

/* Reset links */
.navigation-bar .row.main nav a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  position: relative; /* so ::after is relative to link */
  padding: .6rem .4rem;
  transition: color .2s ease;
}

/* underline using ::after, aligned to nav row bottom */
.navigation-bar .row.main nav a::after {
  content: "";
  position: absolute;
  left: -16px;
  right: -16px;
  bottom: -4px;               /* align with the nav bar border */
  height: 4px;
  background: transparent;;
  transition: background .2s ease;
}

/* hover/active styles */
.navigation-bar .row.main nav a:hover,
.navigation-bar .row.main nav a[aria-current="page"] {
  color: #d4001a;
}

.navigation-bar .row.main nav a:hover::after,
.navigation-bar .row.main nav a[aria-current="page"]::after {
  background: #d4001a;
}
